<div class="container">
  <h2>Edit
    <%= resource_name.to_s.humanize %>
  </h2>
</div>

<div class="container">

  <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div class="form-actions">

      <div class="form-row">
        <div class="col">

          <%= f.input :name, required: true, autofocus: true, input_html: {class: "mb-2 mr-sm-2", autocomplete: "name" }%>
        </div>
        <div class="col">

          <%= f.input :nickname, required: true, autofocus: true, prepend: "@", input_html: { class: "mb-2 mr-sm-2", autocomplete: "nickname" } %>

        </div>
      </div>

      <div class="form-row">
        <div class="col">

          <%= f.input :email, required: true, autofocus: true, prepend: "example-", append: "@gmail.com" %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for:
              <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
      </div>
      <div class="form-row">

        <div class="col">
          <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="col">
          <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" } %>

        </div>
      </div>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="container">

      <div class="form-row">
        <div class="form-actions">

          <%= f.input :avatar, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'} do %>
          <%= image_tag "", width: 300, class: "hidden img-circle-rounded", id: "photo-preview" %>

        <% end %>
        <%= f.input :avatar_cache, as: :hidden %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-actions">
        <%= f.input :banner_img, input_html: { class: 'hidden rounded', id: 'photo-input'}, label_html: { class: 'upload-photo'} do %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      <% end %>

        <%= f.input :banner_img_cache, as: :hidden %>
      </div>
    </div>

    <div class="form-actions">
      <div class="form-row">

        <div class="col">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
        <div class="col">
          <p>
            <%= link_to "Back", :back, class: 'btn btn-primary' %>
          </p>
        </div>

      </div>
    </div>

  </div>
<% end %>
</div>
</div>
<div class="container">
<div class="container">

<div class="row">

  <p>
    Unhappy?
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary active' %></p>
</div>
</div>
</div>
<%= javascript_pack_tag 'photo_preview' %>
