<%= simple_form_for [@game, @lobby] do |f| %>

  <div class="forom-inputs">
    <%= f.input :description %>

    <% unless @lobby.persisted? %>
      <%= f.input :competitive, as: :boolean %>

      <%= f.input :max_players, collection: Game.game_type_presets.map { |key, value| [key, value] }  %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, @lobby.persisted? ? "Update Lobby" : "Create your Lobby", class: "btn-primary" %>
  </div>
<% end %>
