<div class="container custom-container-lobby mt-5">
  <div class="row my-2">
    <div class="col-6">
      <p class="text-truncate w-100"><%= @lobby.description %></p>
    </div>
    <div class="col-3">
      <%= link_to "Exit this lobby", exit_lobby_path(@lobby), method: :post, class: "btn btn-danger w-100" %>
    </div>
    <div class="col-3">
      <%= link_to "Edit the Lobby", edit_lobby_path(@lobby), class: "btn btn-warning w-100" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="shadow">
        <div class="d-flex align-items-center">
          <div class="card">
            <%= image_tag(@lobby.game.photo, class: "card-img") %>

          </div>
        </div>

        <div class="inside-game-lobby text-center">
          <p class="lobby-gamename-show text-truncate"><%= @lobby.game.name %></p>
          <p class="lobby-gamename-show text-truncate"><%= @lobby.competitive ? 'Competitive' : 'Casual' %></p>
          <div class="d-flex lobby-playersnumber-show justify-content-center">
            <i class="fas fa-user-alt playersinlobby mr-2"></i>
            <p class="mr-2"><%= @lobby.users.count %></p>
            <i class="fas fa-user-alt mr-2" style="color: black;"></i>
            <p><%= @lobby.max_players - @lobby.users.count %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex col-3 col-lg-3">
      <% @lobby.sessions.select(&:active?).each do |active_session| %>
        <%= link_to profile_path(active_session.user), style:"height: 45px" do %>
        <div class="shadow avatarplayercard text-truncate lobby-gamename-show <%= 'border border-warning' if active_session.user == @owner %>">

          <%= cl_image_tag(active_session.user.avatar.file.nil? ? "avatarsample.png" : active_session.user.avatar , class: "avatar") %>

          <%= active_session.user.nickname %>
        </div>

        <% end %>
        <div id="videos">
          <div id="subscriber"></div>
          <div id="publisher"></div>
        </div>
      </div>
      <% end %>


    <div class="col-9 col-lg-6">
  <div class="messages">
        <% @lobby.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>

      <div class="create-message">
        <%= simple_form_for [ @lobby, Message.new ], remote: true do |f| %>
          <%= f.input :content, as: :string, label: false %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <script>
    // const scrollLastMessageIntoView = () => {
    //   const messages = document.querySelectorAll('.message');
    //   const lastMessage = messages[messages.length - 1];
    //   lastMessage.scrollIntoView();
    // }

    // scrollLastMessageIntoView();

    App['lobby_<%= @lobby.id %>'] = App.cable.subscriptions.create(
      { channel: 'LobbiesChannel', lobby_id: <%= @lobby.id %> },
      {
        connected: () => {
          console.log('connected');
        },
        disconnected: () => {
          console.log('disconnected');
        },
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            var messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);


            messagesContainer.scrollTop = messagesContainer.scrollHeight;
            // scrollLastMessageIntoView();
          }
        }
      }
    )

    // OpenTok With Deives kakakakjota

    var apiKey = <%= ENV['OPENTOK_API_KEY'] %>;
    var sessionId = '<%= @lobby.session_token %>';
    var token = '<%= @lobby.generated_token %>';

    console.log(sessionId)

    const handleError = errors => {
      console.log('Oops You copied Something wrongly');
    }

    const initializeSession = () => {

      var session = OT.initSession(apiKey, sessionId);

      // Create a Publisher

      var publisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        videoSource: null,
      }, handleError);

      // function resizePublisher() {
      //   var publisher = document.getElementById("publisher")
      //   publisherContainer.style.width = "50px";
      //   publisherContainer.style.height = "50px";

      // }
      // connect to the session

      session.connect(token, function(error) {
        // if the connection is successful, publish to the session
        if (error) {
          handleError(error);
        } else {
          session.publish(publisher, handleError);
        }
      });

      // create subscriber
      session.on('streamCreated', function(event) {
        session.subscribe(event.stream, 'subscriber', {
          insertMode: 'append',
          videoSource: null,
        }, handleError);
      });
    }

    initializeSession();
    console.log('Teste Funciona =D')
  </script>
<% end %>
