<div class="container mt-4">
  <div class="searchbox mt-3">
    <%= form_tag games_path, method: :get, class: "searchbaar" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-controol",
        placeholder: "Search a game"
        %>
    <% end %>
  </div>
  <div class="card-row mt-2" >
    <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
      <div class="card-space">
          <div class="card caard p-1">
            <%= image_tag(game.photo ? game.photo : "http://suiteapp.com/shopflow-1-03-0/img/no_image_available.jpeg", class: "card-img") %>
            <div class="card-body">
              <p class="card-text"><%= game.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <% if current_user.admin? %>
    <%= link_to "new", new_game_path, class: "btn btn-primary" %>
  <% end %>
</div>
<br>
