<!-- Page Header -->
<header class="masthead" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path(@game.photo ? @game.photo : "https://1080motion.com/wp-content/uploads/2018/06/noimagefound.jpg.png") %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 id="gamename">
            <%= @game.name %></h1>
            <span class="subheading"><%= link_to game_add_favorite_path(@game), method: :post, remote: true do %>
              <% if @game.is_user_favorite?(current_user) %>
              <i id="favorite-star" class="fas fa-star ml-2 text-yellow fa-2x" style="color: yellow"></i>
              <% else %>
              <i id="favorite-star" class="far fa-star ml-2 fa-2x" style="color: yellow"></i>
              <% end %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container borderlobby mb-3">
  <div class="d-flex gradient-class justify-content-between align-items-center">
    <div class="d-flex align-items-center justify-content-around">
      <h3 class="lobbyavaliable text-truncate mr-1">Lobbies(<%= @available %>)</h3>
    </div>
    <%= link_to new_game_lobby_path(params[:id]) do %>
      <i class="fas fa-plus-circle float-left lobbyavaliable text-truncate"></i>
    <% end %>
  </div>

  <div class="table-responsive-sm">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Join</th>
          <th scope="col">Owner</th>
          <th scope="col" colspan="2">Description</th>
          <th scope="col">Mode</th>
          <th scope="col">Players</th>
        </tr>
      </thead>
      <tbody>
        <% @game.lobbies.each do |lobby| %>
          <% next unless lobby.active? %>
            <tr>
              <th scope="row">
                <%= link_to enter_lobby_path(lobby), method: :post do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              </th>
              <td class="text-white">
                <% if lobby.user.avatar.file.nil? %>
                  <%= cl_image_tag "avatarsample.png", class: "gameshowavatar" %>
                <% else %>
                  <%= cl_image_tag(lobby.user.avatar, class: "gameshowavatar") %>
                <% end %>
                <%= lobby.user.nickname %>
              </td>
              <td class="text-white" colspan="2">
                <%= lobby.description %>
              </td>
              <td class="text-white <%= 'competitiveclass' if lobby.competitive? == true %>">
                <%= (lobby.competitive? ? 'Competitive' : 'Casual') %>
              </td>
              <td class="text-white">
                <i class="fas text-white fa-user-alt float-left mt-1">
                  <%= lobby.sessions.where(active: true).count %>/<%= lobby.max_players ? lobby.max_players : "??" %>
                </i>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
