<div class="game_banner_show">
  <div class="container">
    <%= image_tag(@game.photo ? @game.photo : "https://img.ibxk.com.br/2018/07/17/17114524702062.jpg") %>
    <div class="gamename">
      <%= @game.name %>
    </div>
  </div>
</div>
<div class="container">
      <div class="lobbies mt-3">
        <ul class="list-group list-group-flush">
          <% @game.lobbies.each do |lobby| %>
          <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between w-100", style="<%= lobby.sessions.count != lobby.max_players ? (lobby.competitive? ? 'background-color: orange' : 'background-color: lightgreen';) : 'background-color: pink'; %>" >
              <p><%= lobby.description %></p>
              <p><%= link_to "Join", lobby_path(lobby), class: "btn btn-primary" %></p>
              <p><%= link_to "Exit", lobby_path(lobby), class: "btn btn-primary" %></p>
              <p><%= lobby.sessions.count %>/<%= lobby.max_players ? lobby.max_players : "??" %></p>
            </div>
          </li>
          <% end %>

          <li class="list-group-item text-center"><%= link_to new_game_lobby_path(params[:id]) do %>
            <i class="fas fa-plus-circle"></i>
            <% end %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
