<div class="game_banner_show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path(@game.photo ? @game.photo.url : "https://1080motion.com/wp-content/uploads/2018/06/NoImageFound.jpg.png") %>)" >
  <div class="container">
    <h1> <%= @game.name %> </h1>
  </div>
</div>

<div class="container">
      <div class="lobbies mt-3">
        <ul class="list-group list-group-flush">
          <% @game.lobbies.each do |lobby| %>
          <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between w-100", style="<%= lobby.sessions.count != lobby.max_players ? (lobby.competitive? ? 'background-color: orange' : 'background-color: lightgreen';) : 'background-color: pink'; %>" >
              <p><%= lobby.description %></p>
              <p><%= link_to "Join", lobby_path(lobby), class: "btn btn-primary" %></p>
              <p><%= link_to "Exit", lobby_path(lobby), class: "btn btn-primary" %></p>
              <p><%= lobby.sessions.count %>/<%= lobby.max_players ? lobby.max_players : "??" %></p>
            </div>
          </li>
          <% end %>

          <li class="list-group-item text-center"><%= link_to new_game_lobby_path(params[:id]) do %>
            <i class="fas fa-plus-circle"></i>
            <% end %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
