<section class="profile-page">

  <!-- Masthead -->
  <div class="container">
	 <div class="row userMain">
       <div class="col-lg-12">
           <div class="userBlock">
             <div class="masterhead" style="background-image: url('<%= cl_image_path @user.banner_img, height: 300, width: 400, crop: :fill %>');"></div>

          <div class="userImg">
            <%= cl_image_tag(@user.avatar, width: 150, height: 150, crop: :thumb, gravity: :face) %>
          </div>
          <div class="userDescription">
            <h5><%= @user.nickname %></h5>
            <p><%= @user.name %></p>

            <div class="followrs">
              <span class="number">137</span>
              <span>Followers</span>
            </div>
            <a href="">
              <button class="btn">Follow</button>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>



<!-- Portfolio Section -->
<section class="p-pagesection portfolio" id="favorite_games">

  <div class="container">
    <!-- Portfolio Section Heading -->
    <h2 class="p-pagesection-heading text-center text-uppercase text-secondary mb-0">My Games</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="container">

      <div class="row align-center">

        <% @favorites.each do  |fav|  %>

          <!-- Portfolio Item -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <%= cl_image_tag fav.game.photo, class: "img-fluid" %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- /.row -->
    </div>

  </div>
</section>
