<div class="the_profile">
  <div class="profile">

    <div class="profile-banner-div">
      <% if current_user.banner_img.nil? %>
        <%= cl_image_tag "image-not-found_t5rkhk.png", class: "banner-profile-img" %>
      <% else %>
        <%= cl_image_tag @user.banner_img %>
      <% end %>
    </div>

    <div class="profile-info">
      <div class="profile-photo-div">
        <%= cl_image_tag @user.avatar, class: "profile-photo" %>
      </div>

      <h2 class="profile-name">Name: <%= @user.name%></h2>
      <h2 class="profile-nickname">Nickname: <%= @user.nickname %></h2>
    </div>
  </div>
</div>

<div class="container">
</div>
